<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demoprojectio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoProjectIO"
        tools:targetApi="31">
        <activity
            android:name=".ui.seventhproject.Seventh1MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fifthproject.FifthScreen2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.sixproject.SixProjectScreen2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.sixproject.SixProjectScreen1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.fifthproject.MainScreen1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.fourthproject.Start1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.thirduiproject.AllTask4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.thirduiproject.AddTask3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.thirduiproject.Screen2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.thirduiproject.Screen1SplashActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demoprojectio.ui.secondui.ThirdScreenActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demoprojectio.ui.secondui.SecondScreenActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demoprojectio.ui.secondui.Second_Project_Ui_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.fistuiproject.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fistuiproject.SecondScreenUi"
            android:exported="false" />
        <activity
            android:name=".MainSelectionScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>